<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游-重置密码</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/login.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">

<h2 class="login">重置密码</h2>

<form action="">
    <div id="myTabContent" class="tab-content">
         <div class="tab-pane fade in active" id="home">
             <div class="login-user">
                 <label for="firstin1"><img src="../images/password.png" alt="密码"/></label>
                 <input type="text" class="input1" id="firstin1" placeholder="输入密码">
             </div>
             <div class="pw">
                 <label for="fir">强度：</label>
                 <span class="lo">低</span>
                 <span class="mid">中</span>
                 <span class="height">高</span>
             </div>





             <div class="login-user">
                 <label for="firstin2"><img src="../images/password.png" alt="密码"/></label>
                 <input type="text" class="input1" id="firstin2" placeholder="确认密码">
             </div>

         </div>
    </div>
    <a href="../index.html" type="submit" class="btn">完成</a>


</form>
</body>
<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</html>