<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网-余额</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/balance.css"/>
</head>
<body class="index">

<header class="topBar clearfix">
    <a href="../index.html" class="icon_back"><</a>
    <p class="top-title">余额</p>
</header>

<div class="balance">
    <div class="balance-m">
        <h4 class="bal-tit">账户余额</h4>
        <p class="bal-nub">188.00</p>
    </div>
    <div class="bank clearfix">
        <div class="bank-in">
            <a href="">
               <img src="../images/bank-in1.png" alt=""/>
               <span>充值</span>
            </a>
        </div>
        <div class="line"></div>
        <div class="bank-in">
            <a href="card.html">
               <img src="../images/bank-in2.png" alt=""/>
               <span>银行卡</span>
            </a>
        </div>
    </div>

        <a class="bill clearfix" href="#">
            <span class="bill-l">账单</span>
            <span class="bill-r"> > </span>
        </a>

    <div class="explain">
        <h4>说明：</h4>
        <ul>
            <li>1、账户余额可在实物商品下单结算时最大化使用；</li>
            <li>2、如果有任何问题，请联系客服进行咨询；</li>
        </ul>

        


    </div>














</div>



<footer class="footer">
    <ul>
        <li><a href="../index.html"><img src="../images/home.jpg" alt="首页"/><p>首页</p></a></li>
        <li><a href="my-order.html"><img src="../images/list.jpg" alt="首页"/><p>订单</p></a></li>
        <li><a href="../index.html"><img src="../images/service.jpg" alt="首页"/><p>客服</p></a></li>
        <li><a href="my.html"><img src="../images/my-click.jpg" alt="首页"/><p>我的</p></a></li>
    </ul>
</footer>





<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>