<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网-个人中心</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/card.css"/>
</head>
<body class="index">

<header class="topBar clearfix">
    <a href="balance.html" class="icon_back"><</a>
    <p class="top-title">银行卡</p>
</header>

<div class="card">
    <div class="bank-card">
        <div class="bank-logo">
             <img src="../images/card-bank1.jpg" alt=""/>
        </div>
        <div class="bank-name">
                <h4 class="card-title">招商银行</h4>
                <p class="card-lei">信用卡</p>
                <p class="card-nub"><span class="star">****&nbsp; ****&nbsp; ****&nbsp; </span><span class="nub">0888</span></p>
        </div>
    </div>
    <div class="bank-card jianshe">
        <div class="bank-logo">
            <img src="../images/card-bank2.jpg" alt=""/>
        </div>
        <div class="bank-name">
            <h4 class="card-title">建设银行</h4>
            <p class="card-lei">信用卡</p>
            <p class="card-nub"><span class="star">****&nbsp; ****&nbsp; ****&nbsp; </span><span class="nub">0888</span></p>
        </div>
    </div>
    <div class="bank-card">
        <div class="bank-logo">
            <img src="../images/card-bank1.jpg" alt=""/>
        </div>
        <div class="bank-name">
            <h4 class="card-title">招商银行</h4>
            <p class="card-lei">储蓄卡</p>
            <p class="card-nub"><span class="star">****&nbsp; ****&nbsp; ****&nbsp; </span><span class="nub">0888</span></p>
        </div>
    </div>


    <a href="add-card.html" class="adds-card">
       <span class="jia">+</span>
       <span class="zheng">添加银行卡</span>
    </a>

</div>



<footer class="footer">
    <ul>
        <li><a href="../index.html"><img src="../images/home.jpg" alt="首页"/><p>首页</p></a></li>
        <li><a href="my-order.html"><img src="../images/list.jpg" alt="首页"/><p>订单</p></a></li>
        <li><a href="../index.html"><img src="../images/service.jpg" alt="首页"/><p>客服</p></a></li>
        <li><a href="my.html"><img src="../images/my-click.jpg" alt="首页"/><p>我的</p></a></li>
    </ul>
</footer>





<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>