<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>邀请二维码</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/rebate.css"/>
    <style>
        .code{
            width: 10rem;
            text-align: center;
        }
        .code p{
            margin-top: 3rem;
            font-size: 0.43rem;
            line-height: 1.82rem;
        }
        .code img{
            width: 8.27rem;
            height: 8rem;
        }
    </style>
</head>

<body class="index" style="background-color: #e9e9e9">


<header class="topBar clearfix">
    <a href="../index.html" class="icon_back"><</a>
    <p class="top-title">邀请二维码</p>
</header>
<div class="code">
    <p>我的专属邀请二维码</p>
    <img src="../images/code.jpg" alt=""/>

</div>



<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>