<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游-导游列表</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/coupon.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">


    <header class="topBar clearfix">
        <a href="my.html" class="icon_back"><</a>
        <p class="top-title">优惠券</p>
    </header>


    <div class="coupon">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#use" data-toggle="tab">
                    未使用
                </a>
            </li>
            <li><a href="#use-no" data-toggle="tab">已使用</a></li>
            <li><a href="#bed" data-toggle="tab">已失效</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="use">

                <img class="coupon-img" src="../images/coupon.png" alt="优惠券"/>
                <p class="coupon-title">您暂时没有优惠券哦~</p>

            </div>
            <div class="tab-pane fade" id="use-no">

                <img class="coupon-img" src="../images/coupon.png" alt="优惠券"/>
                <p class="coupon-title">您使用了0张优惠券哦~</p>

            </div>
            <div class="tab-pane fade" id="bed">

                <img class="coupon-img" src="../images/coupon.png" alt="优惠券"/>
                <p class="coupon-title">您暂时没有优惠券失效哦~</p>

            </div>
        </div>
    </div>




    <footer class="footer">
        <ul>
            <li><a href="../index.html"><img src="../images/home.jpg" alt="首页"/><p>首页</p></a></li>
            <li><a href="my-order.html"><img src="../images/list-click.jpg" alt="首页"/><p>订单</p></a></li>
            <li><a href="../index.html"><img src="../images/service.jpg" alt="首页"/><p>客服</p></a></li>
            <li><a href="my.html"><img src="../images/my.jpg" alt="首页"/><p>我的</p></a></li>
        </ul>
    </footer>


<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>