<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>吉首旅游官网-修改地址</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/address.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">

<header class="topBar clearfix">
    <a href="my.html" class="icon_back"><</a>
    <p class="top-title">修改地址</p>
</header>


<form class="form" role="form" action="">

    <div class="form-group4 hoteltop">
        <label class="form-groupnamex">联系人</label>
        <input id="name" type="text" placeholder="请填写姓名"/>
        <span class="checkExistRong" id="checkExistname"></span>
    </div>

    <div class="form-group4">
        <label class="form-groupnamex">手机号</label>
        <input id="telephone" type="tel" name="fname" min="11" placeholder="请填写手机号">
        <span class="checkExistRong" id="checkExistPhone"></span>
    </div>
    <div class="form-group4 specialty-address">
        <label class="form-groupnamex">收获地址</label>
        <textarea class="specialty-addressw" name="" id=""  placeholder="请填写详细地址"></textarea>
        <!-- <input id="identity" type="text" name="fname" placeholder="请填写详细地址"  >-->
        <span class="checkExistRong" id="checkExistID"></span>
    </div>

    <button type="submit" class="btn btn-default">保存</button>

</form>





<!--头部区域-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/index.js"></script>
</body>
</html>